@model ProjectOPP.Models.Usuario

@{
    ViewBag.Title = "Logup";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signupform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p class="login-box-msg">Ingrese sus credenciales</p>
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombres" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido paterno" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido materno" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.FecNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.ID_TipoDocumento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tipo de documento" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.NumeroDocumento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numero de documento" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.ID_Distrito, new { htmlAttributes = new { @class = "form-control", @placeholder = "Departamento" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.ID_Distrito, new { htmlAttributes = new { @class = "form-control", @placeholder = "Provincia" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.ID_Distrito, new { htmlAttributes = new { @class = "form-control", @placeholder = "Distrito" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Direccion" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.NumeroDireccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numero de direccion" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.TelefonoFijo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefono fijo" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control", @placeholder = "Celular" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        
        <div class="input-group mb-3">
            @Html.EditorFor(model => model.ID_Escuela, new { htmlAttributes = new { @class = "form-control", @placeholder = "Facultad" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.ID_Escuela, new { htmlAttributes = new { @class = "form-control", @placeholder = "Escuela" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Codigo" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control", @placeholder = "Clave" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control", @placeholder = "Repetir clave" } })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Registrarse" class="btn  btn-success btn-block" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Iniciar sesion", "Login")
</div>

<div>
    @Html.ActionLink("Ir al inicio", "Index", "Home")
</div>

@section scripts
{
    <script>
        //$(document).ready(function () {
        //    $("#signupform").submit(function (e) {
        //        e.preventDefault();

        //        url = "www.google.com"
        //        parametros = $(this).serialize();

        //        alert("1")

        //        $.post(url, parametros, function (data){

        //            if (data == "1") {
        //                document.location.href = "www.youtube.com";
        //            } else {
        //                alert(data)
        //            }
        //        })
        //    })
        //})
    </script>   
}