@model ProjectOPP.Models.Tramite

@{
    ViewBag.Title = "Details";
}

<h2>Solicitud de Carta de Presentacion</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tramit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tramit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependenciaReferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependenciaReferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundamentoSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundamentoSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaRuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaRuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaJefe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaJefe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaCargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaCargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdjuntoUno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjuntoUno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdjuntoDos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjuntoDos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.NumeroDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.NumeroDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Estado)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Generar PDF", "GeneratePDF", new { id = Model.ID })
</p>
