@model ProjectOPP.Models.Tramite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tramite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tramit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tramit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependenciaReferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependenciaReferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundamentoSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundamentoSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Usuario)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Generar PDF", "GeneratePDF", new { id = Model.ID })
</p>
