@model IEnumerable<ProjectOPP.Models.Tramite>

@{
    ViewBag.Title = "TramiteList";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>TramiteList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="dataTableOne" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tramit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DependenciaReferencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTramite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundamentoSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpresaNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpresaRuc)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tramit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DependenciaReferencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTramite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FundamentoSolicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpresaNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpresaRuc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

</table>
